@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
.Home, .container .content {
  transition: all 0.6s ease-in-out 0s; }

body {
  margin: 0;
  font-family: 'Lato', sans-serif; }

* {
  box-sizing: border-box; }
  *:focus {
    outline: none; }

.hide {
  display: none; }

.Home.blue.winner {
  background: #007bff; }
  .Home.blue.winner .data-player1,
  .Home.blue.winner .data-player2 {
    color: #fff; }

.Home.blue .matrix,
.Home.blue .value {
  border-color: #007bff; }

.Home.blue .data-player2 {
  opacity: .5; }

.Home.green.winner {
  background: #28a745; }
  .Home.green.winner .data-player1,
  .Home.green.winner .data-player2 {
    color: #fff; }

.Home.green .matrix,
.Home.green .value {
  border-color: #28a745; }

.Home.green .data-player1 {
  opacity: .5; }

.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  padding: 10px;
  align-items: flex-end; }
  .container .content {
    position: relative;
    width: 100%;
    max-width: 452px;
    margin: 0 auto;
    background: #fff; }

.matrix {
  display: grid;
  margin: auto;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  border: thin solid #343a40; }

.value {
  position: relative;
  padding-top: 100%;
  border: thin solid #343a40;
  font-size: 100px; }
  .value::before {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #343a40;
    transform: translate(-50%, -50%); }
  .value.type1::before {
    content: 'X';
    color: #007bff; }
  .value.type2::before {
    content: 'O';
    color: #28a745; }
  @media (min-width: 480px) {
    .value {
      font-size: 130px; } }
  @media (min-width: 768px) {
    .value {
      font-size: 160px; } }

.winner-line {
  position: absolute;
  display: none;
  left: 50%;
  width: 94%;
  height: 10px;
  transform: translateX(-50%);
  background: #dc3545;
  z-index: 1; }
  .winner-line.reverse {
    display: block;
    transform: translateX(-50%) rotate(90deg);
    transform-origin: left;
    top: 3%; }
    .winner-line.reverse.index0 {
      left: 64%; }
    .winner-line.reverse.index1 {
      left: 97%; }
    .winner-line.reverse.index2 {
      left: 130%; }
  .winner-line.diagonal {
    display: block;
    top: 7%;
    width: 120%;
    transform-origin: left; }
    .winner-line.diagonal.index0 {
      transform: translateX(-35%) rotate(45deg); }
    .winner-line.diagonal.index1 {
      transform: translateX(35%) rotate(135deg); }
  .winner-line.normal {
    display: block; }
    .winner-line.normal.index0 {
      top: 17%; }
    .winner-line.normal.index1 {
      top: 50%; }
    .winner-line.normal.index2 {
      top: 82%; }

.data-players {
  display: flex;
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
  align-items: baseline; }
  .data-players > div {
    font-size: 26px;
    margin: 10px auto 0;
    width: 50%; }
    @media (min-width: 480px) {
      .data-players > div {
        width: 33.3333333%;
        margin: 40px auto 0; } }
  .data-players .data-player1 {
    color: #007bff; }
  .data-players .data-player2 {
    color: #28a745; }
  .data-players .game-count {
    order: 1;
    font-size: 14px; }
    @media (min-width: 480px) {
      .data-players .game-count {
        order: 0; } }

.restart {
  width: 100%;
  margin: 0 auto;
  text-align: center; }
  @media (min-width: 480px) {
    .restart {
      margin: 20px auto; } }
  .restart div {
    display: inline-block;
    padding: 5px 15px;
    background: #dc3545;
    color: #fff;
    border-radius: 20px;
    cursor: pointer; }

.warning {
  animation: warning-animation .2s ease-out; }

@keyframes warning-animation {
  0% {
    transform: translateX(0); }
  25% {
    transform: translateX(-10%); }
  50% {
    transform: translateX(0%); }
  75% {
    transform: translateX(10%); }
  100% {
    transform: translateX(0); } }
