@import '../../assets/style.scss';

.Home {
  @extend %transition;
  &.blue {
    &.winner {
      background: $blue;
      .data-player1,
      .data-player2 {
        color: $white;
      }
    }
    .matrix,
    .value {
      border-color: $blue;
    }
    .data-player2 {
      opacity: .5;
    }
  }
  &.green {
    &.winner {
      background: $green;
      .data-player1,
      .data-player2 {
        color: $white;
      }
    }
    .matrix,
    .value {
      border-color: $green;
    }
    .data-player1 {
      opacity: .5;
    }
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  padding: 10px;
  align-items: flex-end;
  .content {
    position: relative;
    width: 100%;
    max-width: 452px;
    margin: 0 auto;
    background: $white;
    @extend %transition;
  }
}

.matrix {
  display: grid;
  margin: auto;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  border: thin solid $black;
}

.value {
  position: relative;
  padding-top: 100%;
  border: thin solid $black;
  font-size: 100px;
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    color: $black;
    transform: translate(-50%, -50%);
  }
  &.type1::before {
    content: 'X';
    color: $blue;
  }
  &.type2::before {
    content: 'O';
    color: $green;
  }
  @media (min-width: 480px) {
    font-size: 130px;
  }
  @media (min-width: 768px) {
    font-size: 160px;
  }
}

.winner-line {
  position: absolute;
  display: none;
  left: 50%;
  width: 94%;
  height: 10px;
  transform: translateX(-50%);
  background: $red;
  z-index: 1;
  &.reverse {
    display: block;
    transform: translateX(-50%) rotate(90deg);
    transform-origin: left;
    top: 3%;
    &.index0 {
      left: 64%;
    }
    &.index1 {
      left: 97%;
    }
    &.index2 {
      left: 130%;
    }
  }
  &.diagonal {
    display: block;
    top: 7%;
    width: 120%;
    transform-origin: left;
    &.index0 {
      transform: translateX(-35%) rotate(45deg);
    }
    &.index1 {
      transform: translateX(35%) rotate(135deg);
    }
  }
  &.normal {
    display: block;
    &.index0 {
      top: 17%;
    }
    &.index1 {
      top: 50%;
    }
    &.index2 {
      top: 82%;
    }
  }
}

.data-players {
  display: flex;
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
  align-items: baseline;
  > div {
    font-size: 26px;
    margin: 10px auto 0;
    width: 50%;
    @media (min-width: 480px) {
      width: 33.3333333%;
      margin: 40px auto 0;
    }
  }
  .data-player1 {
    color: $blue;
  }
  .data-player2 {
    color: $green;
  }
  .game-count {
    order: 1;
    font-size: 14px;
    @media (min-width: 480px) {
      order: 0;
    }
  }
}

.restart {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  @media (min-width: 480px) {
    margin: 20px auto;
  }
  div {
    display: inline-block;
    padding: 5px 15px;
    background: $red;
    color: $white;
    border-radius: 20px;
    cursor: pointer;
  }
}

.warning {
  animation: warning-animation .2s ease-out;
}

@keyframes warning-animation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10%);
  }
  50% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(10%);
  }
  100% {
    transform: translateX(0);
  }
}
