.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background: #fff; }
  .Modal:first-child {
    z-index: 10; }
  .Modal .content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    padding: 20px;
    max-width: 400px;
    text-align: center;
    border: thin solid #343a40;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    background: #fff; }
  .Modal input {
    display: block;
    margin: 10px auto;
    padding: 5px;
    font-size: 16px;
    border: thin solid #343a40;
    border-radius: 10px; }
  .Modal button {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    background: #343a40;
    border: 0;
    color: #fff;
    padding: 5px 15px;
    border-radius: 15px; }
