@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
body {
  margin: 0;
  font-family: 'Lato', sans-serif; }

* {
  box-sizing: border-box; }
  *:focus {
    outline: none; }

.hide {
  display: none; }

.Modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background: #fff; }
  .Modal:first-child {
    z-index: 10; }
  .Modal.player1 .content {
    border-color: #007bff; }
  .Modal.player1 input {
    border-color: #007bff;
    color: #007bff; }
  .Modal.player1 button {
    background: #007bff; }
  .Modal.player1 h3 {
    color: #007bff; }
  .Modal.player2 .content {
    border-color: #28a745; }
  .Modal.player2 input {
    border-color: #28a745;
    color: #28a745; }
  .Modal.player2 button {
    background: #28a745; }
  .Modal.player2 h3 {
    color: #28a745; }
  .Modal .content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    padding: 20px;
    max-width: 400px;
    text-align: center;
    border: thin solid #343a40;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    background: #fff; }
  .Modal input {
    display: block;
    margin: 10px auto;
    padding: 5px 10px;
    font-size: 16px;
    border: thin solid #343a40;
    border-radius: 10px; }
  .Modal button {
    display: block;
    margin: 20px auto 0;
    font-size: 16px;
    background: #343a40;
    border: 0;
    color: #fff;
    padding: 5px 15px;
    border-radius: 15px; }
