.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto; }
  .Header.blue h1 {
    color: #007bff; }
  .Header.green h1 {
    color: #28a745; }
  .Header.white h1 {
    color: #fff; }
  .Header h1 {
    text-align: center;
    margin: 0; }
    @media (min-width: 480px) {
      .Header h1 {
        margin: 20px; } }
