@import '../../assets/style.scss';

.Header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: auto;
  transition: all 0.6s ease-in-out 0s;
  &.blue {
    h1{
      color: $blue;
    }
  }
  &.green {
    h1{
      color: $green;
    }
  }
  &.white {
    h1{
      color: $white;
    }
  }
  h1 {
    text-align: center;
    margin: 0;
    @media (min-width: 480px) {
      margin: 20px;
    }
  }
}